<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/home.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>{{title}}</title>

</head>

<body>
  <div class="container">
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <header class="row">
      <div class="col-sm-7 shopping-mall">
        <h1>GAMING STORE</h1>
        <h5>THE CENTER POINT OF THE PROFESSIONAL PROGRAMMING</h5>
      </div>
      <div class="col-sm-5">
        <img src="icon.jpg" alt="">
      </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"><span class="glyphicon glyphicon-home"></span> Trang chủ </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="glyphicon glyphicon-th-list"></span> Thêm sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <span class="glyphicon glyphicon-th-list"></span>Danh sách san pham</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>
              Tài khoản
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Quản lí tài khoản </a>
              <a class="dropdown-item" href="#">Đăng xuất</a>
              <a class="dropdown-item" href="#">Đổi mật khẩu</a>
            </div>
            <form action="addNewPr" method="get">
            <button type="submit">Thêm sản phẩm</button>
        </form>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav reverser">
        <li class="nav-item">
          <a href="#" class="nav-link active">Tiếng anh</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Tiếng việt</a>
        </li>
      </ul>
    </nav>
    
    <div class="row">
      <article class="col-sm-9">
        <div class="row poly-cart">
          <div class="col-sm-4">
            <div class="card text-center boder">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">$100</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan2.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">$103</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan3.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">FREE</div>
            </div>
          </div>
        </div>
        <div class="row poly-cart">
          <div class="col-sm-4">
            <div class="card text-center boder">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">$100</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan2.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">$103</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan3.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">FREE</div>
            </div>
          </div>
        </div>
        <div class="row poly-cart">
          <div class="col-sm-4">
            <div class="card text-center boder">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">$100</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan2.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">$103</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                quan ao cau long
              </div>
              <div class="card-body">
                <img src="aoquan3.jpg" alt="" width="180" height="200">
              </div>
              <div class="btnsuaxoa">
                <button>Sửa</button>
                <button>Xóa</button>
              </div>
              <div class="card-footer">FREE</div>
            </div>
          </div>
        </div>
      </article>
      <aside class="col-sm-3">
        <div class="card poly-cart">
          <div class="card-body">
            <div class="row">
              <form action="">
                <input type="text" class="form-control" placeholder="search">
              </form>
            </div>
          </div>
        </div>
        <div class="card poly-cart">
          <div class="card-header">
            <span class="glyphicon glyphicon-th-list"></span> Thể Loại
          </div>
          <ul class="list-group list-group-flush">
            <a href="" class="list-group-item "> quan ao cau long</a>
            <a href="" class="list-group-item "> vot cau long</a>
            <a href="" class="list-group-item "> qua cau long</a>
            <a href="" class="list-group-item "> giay cau long</a>
            <a href="" class="list-group-item "> cuon can cau long</a>
          </ul>
        </div>
      </aside>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>